body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: 1px solid cadetblue;
    height: 35px;

}

button{
    background-color: rgb(75, 188, 207);
    width: 100px;
    height: 40px;
    font-size: large;
    font-weight: 200;
    font-style: italic;
    color: white;
    border: 10px;
    margin-top: 5px;
    border-radius: 50px; 
}

button:hover{
    background-color: rgb(13, 94, 94);
    transition: 0.5s;
}

#delete-btn{
    color: red;
    background-color: whitesmoke;
    border: 1px solid rgb(99, 177, 99);
    border-radius: 10px; 
   
   

}
#delete-btn:hover{
    background-color: rgba(168, 19, 19, 0.911);
}

ol{
  margin: 10px;
}

a{
    color: brown;
    margin: 10px;
  
}
